.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url(https://thumbs.dreamstime.com/z/rose-background-pastel-colors-delicate-pale-pink-yellow-123902607.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px
}

.profil{
  margin-top: 100px;
  
}



